.optionsBar {
    margin-bottom: 7px;
    height: 90px;
    width: 1500px;
    overflow: hidden;
    background-color: #333;
    border: 10px solid gray; 
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .photouser{
    width: 70px;
    height: 70px;
    float: right;
    right: 400px;
    bottom: 70px;
    margin: 15px auto;
    border: 10px solid gray; 
    position: relative;
  }

  .cerrarimg{
    width: 70px;
    height: 70px;
    float: right;
    right: 215px;
    bottom: 70px;
    margin: 15px auto;
    border: 10px solid gray; 
    position: relative;
  }

  .login{
    background-color: purple;
    border: 10px solid gray;
    width: 400px;
    height: 600px;
    top: 100px;
    position: relative;
  }

  .form-control { 
    width: 250px;
    height: 30px;
    margin-bottom: 25px;
    background-color: rgba(0, -0, -0, -0.3);
    border-radius: 10px;
    color: black;
    border-width: 3px;
}

.form-button {
  margin-top: 50px; 
  width: 250px;
  height: 30px;
  margin-bottom: 25px;
  background-color: rgba(0, -0, -0, -0.3);
  border-radius: 10px;
  color: black;
  border-width: 3px;
}

h1{
  color: purple;
  font-size: 78px;
}